/****** RESET ******/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/****** VARIABLES ******/

:root {
    /** COLORS **/
    --blue: #0B1849;
    --green: #124D1C;
    --yellow: #E4B028;
    --white-bg: #EBEDE3;
    --white-cards: #F9F9F9;
    --white: #FFFFFF;
    --light-grey: #D3D3D3;
    --grey: #808080;

    /** BURGER MENU **/
    --burger-anim-duration: 0.3s;
}

/****** GENERAL STYLE ******/

html {
    scroll-behavior: smooth;
}

.menu-open {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white-bg);
}

h3 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
}

#top,
section {
    scroll-margin-top: 85px;
}

/****** HEADER ******/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.3rem;
    background-color: var(--blue);
}

#title {
    width: clamp(15rem, 30vw, 20rem);
    display: block;
}

header,
#menu a {
    color: var(--white);
}

nav {
    font-size: 1.2rem;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 4vw, 7rem);
    text-align: center;
}

#menu a {
    text-decoration: none;
    white-space: nowrap;
    transition: 0.2s;
}

#menu a:hover {
    color: var(--yellow);
    transition: 0.3s;
}

#burger-container {
    display: none;
}

@media (width < 880px) {
    header {
        justify-content: space-between;
        padding-inline: 2rem;
    }

    #menu {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        padding-top: 2rem;
        background-color: rgba(11, 24, 73, 0.95);
        width: 100%;
        top: 6.031rem;
        left: 100%;
        bottom: 0;
        transition: all 0.2s ease-out;
    }

    #menu.active {
        transform: translateX(-100%);
    }

    #burger-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.8rem;
        height: 1.2rem;
        margin-top: 3px;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: var(--white-bg);
        border-radius: 2px;
    }

    .unclicked .line-1 {
        animation: burger-top-reverse var(--burger-anim-duration) forwards;
    }

    .line-2 {
        transition: all var(--burger-anim-duration) ease-in-out;
    }

    .unclicked .line-3 {
        animation: burger-bottom-reverse var(--burger-anim-duration) forwards;
    }

    .clicked .line-1 {
        animation: burger-top var(--burger-anim-duration) forwards;
    }

    .clicked .line-2 {
        opacity: 0;
    }

    .clicked .line-3 {
        animation: burger-bottom var(--burger-anim-duration) forwards;
    }

    @keyframes burger-top {
        0% {
            transform: translateY(0) rotate(0);
        }

        75% {
            transform: translateY(0.525rem) rotate(0);
        }

        100% {
            transform: translateY(0.525rem) rotate(45deg);
        }
    }

    @keyframes burger-bottom {
        0% {
            transform: translateY(0) rotate(0);
        }

        75% {
            transform: translateY(-0.49rem) rotate(0);
        }

        100% {
            transform: translateY(-0.49rem) rotate(-45deg);
        }
    }

    @keyframes burger-top-reverse {
        0% {
            transform: translateY(0.525rem) rotate(45deg);
        }

        75% {
            transform: translateY(0.525rem) rotate(0);
        }

        100% {
            transform: translateY(0) rotate(0);
        }
    }

    @keyframes burger-bottom-reverse {
        0% {
            transform: translateY(-0.49rem) rotate(-45deg);
        }

        75% {
            transform: translateY(-0.49rem) rotate(0);
        }

        100% {
            transform: translateY(0) rotate(0);
        }
    }
}

/****** HERO ******/

#hero {
    height: calc(100dvh - 100px);
    display: flex;
    width: 100%;
}

.hero-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

#one {
    background-image: linear-gradient(to bottom, rgba(11, 24, 73, 0.5), rgb(255, 255, 255, 1)), url('images/devis.webp');
}

#two {
    background-image: linear-gradient(to bottom, rgba(11, 24, 73, 0.5), rgb(255, 255, 255, 1)), url('images/reparation.webp');
}

#three {
    background-image: linear-gradient(to bottom, rgba(11, 24, 73, 0.5), rgb(255, 255, 255, 1)), url('images/vente1.jpeg');
}

.hero-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 65px;
    padding: 0.7rem 3rem;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* #3 */
}

.hero-section img {
    width: 1.4rem;
}

/****** SERVICES ******/

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    background-color: var(--white);
}

#services p {
    font-size: clamp(1rem, 3vw, 1.1rem);
    text-align: justify;
}

#services-types {
    display: flex;
    gap: 3rem clamp(2rem, 4vw, 5rem);
}

.services-types-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--white-cards);
    border: none;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* #5 */
}

.services-types-card-img {
    width: 100%;
}

.services-types-card-txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 2rem 2rem;
    border-top: 1rem solid var(--yellow);
}

.services-types-card h4 {
    font-size: clamp(1.5rem, 5vw, 1.9rem);
    text-align: center;
}

@media (width < 1200px) {
    #services {
        padding-inline: 5vw;
    }

    #services-types {
        flex-direction: column;
        width: 70vw;
    }
}

@media (width < 750px) {
    #services-types {
        width: 100%;
    }
}

/****** ABOUT ******/

#about {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#about h4 {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

#about p {
    font-size: clamp(1rem, 3vw, 1.1rem);
    text-align: justify;
}

#about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 75rem;
}

#about-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#about-header,
.about-card {
    background-color: var(--white-cards);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* #5 */
    border-radius: 5px;
}

#about-header-txt {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

#about-header-portrait {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about-header-portrait img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    object-fit: cover;
    object-position: center;
}

#about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about-card {
    display: flex;
    border-radius: 5px;
}

.about-card-icon-container {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 5px 0 0 5px;
    padding-inline: 1rem;
}

.about-card-icon-container img {
    display: block;
    max-width: 3rem;
}

.about-card-txt {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (width < 1000px) {
    #about {
        padding-inline: 5vw;
    }

    #about-container {
        width: 70vw;
    }

    #about-header {
        grid-template-columns: 1fr;
    }

    .reverse {
        order: -1;
    }

    #about-cards {
        grid-template-columns: 1fr;
    }

    .about-card {
        flex-direction: column;
    }

    .about-card-icon-container {
        justify-content: center;
        padding: 1rem;
    }

    .about-card-txt h4 {
        text-align: center;
    }
}

@media (width < 750px) {
    #about-container {
        width: 100%;
    }
}

/****** TRUST ******/

#trust {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 4rem 3rem;
    gap: 2rem;
}

#customers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 2rem clamp(2rem, 7vw, 7rem);
}

#customers img {
    width: 100%;
}

@media (width < 1200px) {
    #customers {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (width < 600px) {
    #customers {
        grid-template-columns: repeat(2, 1fr);
    }
}

/****** CONTACT ******/

#contact {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

#contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1rem;
    max-width: 75rem;
}

#contact-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#contact-txt h4 {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

#contact p {
    font-size: clamp(1rem, 3vw, 1.1rem);
}

#contact-txt ul {
    display: flex;
    flex-direction: column;
}

#contact-txt li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

#contact-txt img {
    display: block;
    max-width: 1.5rem;
}

#contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-cards);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* #70 */
    border-radius: 5px;
    padding: 1.5rem;
}

#contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#contact-form>* {
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* #65 */
    min-width: 0;
}

select:required:invalid,
::placeholder {
    color: var(--grey);
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

#contact-form>*:focus {
    outline: 0;
    border: 2px solid var(--yellow);
}

#company,
#request-type,
#request-subject,
#request-txt,
#btn-submit-form {
    grid-column: 1 / 3;
}

#btn-submit-form {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--white);
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.1s;
}

#btn-submit-form:hover,
#btn-submit-form:focus {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    transition: 0.3s;
}

@media (width < 1000px) {
    #contact {
        padding-inline: 5vw;;
    }
}

@media (width < 800px) {
    #contact-form {
        grid-template-columns: 1fr;
    }

    #contact-form>* {
        grid-column: 1 / 1;
    }
}

/****** FOOTER ******/

footer {
    background-color: var(--blue);
    color: var(--white-bg);
    text-align: center;
    padding-block: 1rem;
}